<html>
<head>
  <title>Prove09</title>
</head>

<body style="background-color:powderblue;">
<h1>Welcome to the Carlos' Postal Rate Calculator </h1>
<br/>
<p>The price to send a "<%= postageType %>" that weighs <%= weight %> (oz.) will cost <b>$<%= result %></b> </p>

</body>
</html>